/** VARIABLES **/
/** GENERAL **/
body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  background-color: #E8E8E8;
}

/** SIDEBAR **/
aside {
  position: fixed;
  z-index: -1;
  width: 200px;
  border-left: 4px solid;
  padding: 10px;
}
aside ul {
  list-style-type: none;
  margin: 0;
  padding: 0.5em;
  overflow: hidden;
  line-height: 3ex;
  color: #5522A8;
}
aside li {
  width: 200px;
}
aside li:first-of-type a {
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
}
aside li:last-of-type a {
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-left-radius: 10px;
}
aside li:only-of-type a {
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
aside a {
  color: #5522A8;
  display: block;
  padding: 0.5em;
  padding-left: 1.5em;
  font-weight: bold;
  text-decoration: none;
}
aside a:hover {
  color: #FFFFFF;
  background-color: #5522A8;
}
aside .join-class-plus {
  margin-left: 100px;
}
aside #current, aside .join-class-plus:hover {
  margin-left: 0;
}
aside #current a, aside aside a:active {
  color: #5522A8;
  background-color: #FFFFFF;
}
aside #vert-navbar-classes-header {
  display: block;
  padding-top: 1.5ex;
  font-size: 125%;
  font-weight: bold;
}
aside #no-classes-banner {
  display: inline-block;
  font-style: italic;
}

/** CONTENT AREA **/
main {
  position: absolute;
  left: 200px;
  min-height: 98%;
  width: 78%;
  border-radius: 10px;
  background-color: #FFFFFF;
}

/* Spanning Navbar */
#span-navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#span-navbar li {
  float: left;
  min-width: 140px;
  width: 25%;
}

#span-navbar a:link, #span-navbar a:visited {
  display: block;
  padding: 0.5em;
  color: #FFFFFF;
  background-color: #6633CC;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

#span-navbar a:hover {
  background-color: #5522A8;
}

#span-navbar #current > a, #span-navbar a:active {
  background-color: #7744E8;
}

#span-navbar div.unimplemented {
  display: block;
  padding: 0.5em;
  color: #999999;
  background-color: #777777;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

/* Content */
#content {
  margin: 1em;
}

/* Page: Profile */
#profile-picture {
  border: 2px solid #000000;
}

#profile-picture:hover {
  border: 2px dotted #000099;
}

#profile-change-picture {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* Portlets */
.column {
  width: 50%;
  float: left;
  padding-bottom: 100px;
}

.portlet {
  margin: 0 1em 1em 0;
}

.portlet-minimized {
  padding-bottom: 10em;
}

.portlet-header {
  padding: 0.2em 0.3em;
  margin-bottom: 0.5em;
  position: relative;
}

.portlet-toggle {
  position: absolute;
  top: 50%;
  right: 0;
  height: 16px;
  width: 16px;
  margin-top: -8px;
}

.portlet-content {
  padding: 0.4em;
}

.portlet-placeholder {
  border: 1px dotted #000000;
  margin: 0 1em 1em 0;
  height: 50px;
}

/* Page: Class/Manage */
#class-info-table th {
  text-align: left;
  padding-bottom: 0.25em;
  padding-right: 1em;
}

#class-student-table .addscore-show {
  float: left;
}
#class-student-table .addscore-hider {
  float: left;
  margin-left: 0.5em;
}
#class-student-table .addscore {
  width: 3em;
  font-size: 100%;
  text-align: right;
}

/*# sourceMappingURL=styles-internal.css.map */
